{% extends 'base.html' %}

{% block body %}
    <h1>login Page</h1>
    <p>This is the login page of our Flask application.</p>
    <!-- login Form -->
    <form action="/login" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter Email" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>

        <button type="submit">login</button>
    </form>

    <br>
    <p>Don't have an account? <a href="/signup">signup</a></p>
</div>
{% endblock %}